<html>
<head>
  <title>Express + hbs!</title>
</head>

<body>
  <div class="container">
    <h1>O Jogo Space Shooter</h1>
    

    <img src="img/teste.png">
    <p>O estilo de jogo Space Shooter é uma categoria de jogos de 
      ação que se passam no espaço. Os jogadores controlam uma nave 
      espacial e devem lutar contra ondas de inimigos, como naves 
      alienígenas e asteróides, enquanto avançam através de 
      diferentes fases ou níveis. O objetivo principal é 
      sobreviver o maior tempo possível e marcar o maior 
      número de pontos possíveis.
    </p>
    
  </div>
</body>

</html>