<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">{{curso.nome}}</h4>
    <p class="card-text">{{curso.descricao}}
    </p>
    <button href="curso/remove/:id" type="button" class="btn btn-danger">Deletar Curso</button>
  </div>
</div>